<style type='text/css'>
	#msg{
		background:black;
		width:70%;
		height:40%;
		color:white;
		padding:5%;
		text-align:center;
		border-radius:20px;
		box-shadow:1px 1px 1px 1px gold;
	}
</style>
<div class='container' id='msg'>
	<h1> Access Denied. Contact Administrator </h1>
</div>