body{
	
	padding:4%;
	color:white;
	overflow: hidden;

}

@-webkit-keyframes load{
		0%{
			border-top-right-radius: 200px;
	        border-top-left-radius: 1px;
			border-bottom-right-radius: 1px;
	        border-bottom-left-radius: 200px;
		}

		100%{
		
			border-top-right-radius: 1px;
	        border-top-left-radius: 200px;
	        border-bottom-right-radius: 200px;
	        border-bottom-left-radius: 1px;
			
		}
}
@-webkit-keyframes loader{
		0%{
			
			border-top-right-radius: 150px;
	        border-top-left-radius: 150px;
		}

		100%{
			border-top: 40px solid black;
			border-top-right-radius: 200px;
	        border-top-left-radius: 200px;
		}
}

#toblur{
	position: absolute;
	width: 150%;
	height: 150%;
	-webkit-filter: contrast(10) saturate(10);
    -webkit-filter: blur(5px);
	background:url('bb.png') center center no-repeat;
	background-size: cover;
	margin-top: -10%;
	margin-left: -10%;
	z-index: -1000;
}
#main{
	z-index: 1000;
	background:rgba(255,165,0,1);
	color:black;
	font-family: 'Sans';
	padding:1%;
	width:50%;
	height: auto;
	border-bottom: 20px solid white;
	border-bottom-right-radius: 250px;
	border-bottom-left-radius: 250px;
	border-top: 20px solid white;
	border-top-right-radius: 200px;
	border-top-left-radius: 200px;
	box-shadow: 1px 1px 20px 5px black;
	-webkit-animation:load 6s alternate infinite;

}
#logindata{
	
	padding-left:15%;
	padding-bottom: 10%;
}
h1{	
	color:orange;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 900;
	
}
h4{
    background: black;
	margin-right: 10%;
	display:block;
	color:white;
	width:80%;
	border-radius:5px;
	text-align: center;
	padding: 2%;
}

.label{
	font-size: 2em;
	background: black;

}

input{
	display:block;
	padding: 1%;
	outline:none;
	width:80%;
	border-radius: 5px;
	border:2px solid black;
	text-align: center;
	font-size: 130px;
}
button{
	display:inline;
	width:30%;
	background:white;
	color:white;
	
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border: 54px inset #bbbbbb;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #fffe01;
  border: 17px double #000000;
  border-radius: 18px;
}
::-webkit-scrollbar-track:hover {
  background: #000000;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
#registerForm{
	transform:scale(0.8);
	transition:transform 1s linear;
}